@page
@model VaccineCovidManagement.Web.Pages.VaccineTonKhos.EditModalModel
@using Microsoft.Extensions.Localization
@using VaccineCovidManagement.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<VaccineCovidManagementResource> L
@{
    Layout = null;
}

<abp-card>
    <form method="post" asp-page="/VaccineTonKhos/EditModal">
        <abp-modal>
            <abp-modal-header></abp-modal-header>
            <abp-modal-body>
                <abp-input asp-for="EditVaccineTonKhos.Id"></abp-input>
                <abp-input asp-for="EditVaccineTonKhos.TenVaccineTonKho"></abp-input>
                <abp-input asp-for="EditVaccineTonKhos.SoLuongTonKho"></abp-input>
            </abp-modal-body>
            <abp-modal-footer buttons="@(AbpModalButtons.Cancel| AbpModalButtons.Save)"></abp-modal-footer>
        </abp-modal>
    </form>
</abp-card>
